name: Deploy-nest

on:
  push:
    branches:
      - server

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Run setup script on remote server via SSH
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
            ls -a
            cd /software/jsonq.top/server
            bash ./scripts/setup.sh
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          privateKey: ${{ secrets.SSH_PRIVATE_KEY}}

      # - name: Run setup script
      #   run: |
      #     cd /software/jsonq.top/server && git pull origin server && npm install && bash ./scripts/setup.sh
