name: Deploy-nest

on:
  push:
    branches:
      - server

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: ls -a via ssh
      #   uses: garygrossgarten/github-action-ssh@release
      #   with:
      #     command: ls -a
      #     host: ${{ secrets.SSH_HOST }}
      #     username: ${{ secrets.SSH_USER }}
      #     privateKey: ${{ secrets.SSH_PRIVATE_KEY}}

      # - name: Run setup script
      #   run: |
      #     bash ./scripts/setup.sh
      - name: Build and run Go program
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }} # 服务器地址
          username: ${{ secrets.SSH_USER }} # 登陆用户名
          key: ${{ secrets.SSH_PRIVATE_KEY }} # 服务器私钥
          script: |
            cd /software/jsonq.top/server &&
            chmod +x ./scripts/setup.sh &&
            ./scripts/setup.sh
            echo "deploy success"
